#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    gap: 5%;
}

#result {
    margin-top: 5%;
    margin-bottom: 5%;
}

#scoreboard {
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

#game_over {
    display: flex;
    flex-direction: column;
}